html, body {
    background-color: #333333;
    height: 100%;
    color: #FFFFFF;
}
a {
    color: #F09330;
}
a:hover {
    color: #874400;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.btn-flat {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-color: transparent;
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
}
.btn-flat:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #e7e7e7;
    border-color: transparent;
}
.jumbotron {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #874400),
        color-stop(1, #F09330)
    );
    background-image: -o-linear-gradient(bottom, #874400 0%, #F09330 100%);
    background-image: -moz-linear-gradient(bottom, #874400 0%, #F09330 100%);
    background-image: -webkit-linear-gradient(bottom, #874400 0%, #F09330 100%);
    background-image: -ms-linear-gradient(bottom, #874400 0%, #F09330 100%);
    background-image: linear-gradient(to bottom, #874400 0%, #F09330 100%);
    border-bottom: 1px solid #F5B878;
    margin-bottom: 0;
}
.jumbotron h1 {
    color: #FFF8F0;
}
.jumbotron p {
    color: #FFEAD4;
}
.container-content {
    min-height: 650px;
    background-color: #fafafa;
    color: #000000;
    padding: 30px;
}
.container-content .page-header {
    color: #F09330;
    border-bottom-color: #F09330;
}
.container-content .nav-stacked {
    padding-top: 40px;
}
.container-content .alert {
    margin: 40px 0 20px;
}
.container-content .page-header {
    margin-bottom: 50px;
}
.container-content h3,
.container-content h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.container-content pre {
    margin-bottom: 50px;
}
.container-content code {
    color: #004E91;
    background-color: #E8E8E8;
}
.container-content blockquote {
    font-size: 14px;
    border-left-color: #f09330;
    background-color: #F0DCC0;
    color: #754400;
    padding: 15px 30px;
}
.footer {
    padding-top: 20px;
    padding-bottom: 15px;
}
.github-btn {
    border: 0 none;
    overflow: hidden;
}
.bs-docs-social {
    margin-bottom: 20px;
}
.bs-docs-social-buttons {
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
.bs-docs-social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}