<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Documentation</h1>
                <p class="lead">Deeper library knowledge</p>
            </div>
            <div class="col-md-5">
                <h1>
                {% for section in site.data.docs %}
                    <a href="{{ site.baseurl }}{{ section.link }}{{ section.first_link }}" class="btn btn-lg btn-primary {% if page.url contains section.link %}active{% else %}btn-flat{% endif %}">{{ section.title }}</a>
                {% endfor %}
                </h1>
            </div>
        </div>
    </div>
</div>