<div class="footer container text-center">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons">
          <li>
            <iframe width="100" height="20" title="Star on GitHub" src="http://ghbtns.com/github-btn.html?user={{ site.github.owner_name }}&amp;repo={{ site.github.repository_name }}&amp;type=watch&amp;count=true" class="github-btn"></iframe>
          </li>
          <li>
            <iframe width="102" height="20" title="Fork on GitHub" src="http://ghbtns.com/github-btn.html?user={{ site.github.owner_name }}&amp;repo={{ site.github.repository_name }}&amp;type=fork&amp;count=true" class="github-btn"></iframe>
          </li>
        </ul>
      </div>
      <p>Created and maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> under the <a href="{{ site.baseurl }}/license">MIT</a> license &#169; {{ site.time | date: '%Y' }}.</p>
</div>