---
layout: default
---

 {% include navigation.html %}

<div class="jumbotron">
  <div class="container">
    <h1>Blog</h1>
    <p class="lead text-muted">News about development and released versions</p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {{ content }}
        </div>
        <div class="col-sm-3 col-sm-offset-1">

            <h4>Recent posts</h4>
            <ol class="list-unstyled">
              {% for post in site.posts limit:5 %}
              <li class="{% if page.title == post.title %}current{% endif %}">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ol>

            <h4>Categories</h4>
            {% for category in site.categories %}
              <a href="#{{ category | first }}"><span class="label label-primary">{{ category | first }}</span></a>
            {% endfor %}
        </div>
    </div>
</div>