---
layout: default
---

{% include navigation.html %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Documentation</h1>
                <p class="lead text-muted">Deeper library knowledge</p>
            </div>
            <div class="col-md-5">
                <h1>
                {% for section in site.data.docs %}
                    <a href="" class="btn btn-lg btn-flat">{{ section.title }}</a>
                {% endfor %}
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="docs-container container">
    <div class="row">
        <div class="docs-submenu col-md-3">
            {% for section in site.data.docs %}
                {% include docs_menu.html items=section.docs %}
            {% endfor %}
        </div>
        <div class="docs-content col-md-9">
            <h1 class="page-header">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
    <div class="row docs-footer">
        <div class="col-md-12 text-center">{% include docs_nav.html %}</div>
    </div>
</div>